<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grand Tour Travel Category Flat Bootstrap Responsive Web Template | About :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Grand Tour Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- css files -->
    <link href="/assets/client/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="/assets/client/css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="/assets/client/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <!-- //css files -->
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- //google fonts -->

</head>
<body>

    <!-- header -->
    <header>
        <div class="container">
            <!-- nav -->
            <nav class="py-md-4 py-3 d-lg-flex">
                <div id="logo">
                    <h1 class="mt-md-0 mt-2"> <a href="/Home/Index"><span class="fa fa-map-signs"></span> Du lịch Việt </a></h1>
                </div>
                <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                <input type="checkbox" id="drop" />
                <ul class="menu ml-auto mt-1">
                    <li class="active"><a href="/Home/Index">Trang chủ</a></li>
                    <li class=""><a href="/GioiThieu/Index">Giới thiệu</a></li>
                    <li class=""><a href="/DiaDiem/Index">Địa Điểm</a></li>
                    <li class=""><a href="/Tour/Index">Tour</a></li>
                    <li class=""><a href="/TinTuc/Index">Tin Tức</a></li>
                    <li class=""><a href="/LienHe/Index">Liên Hệ</a></li>
                    <li class="booking"><a href="/KhachHang/Create">Đặt tour</a></li>
                </ul>
            </nav>
            <!-- //nav -->
        </div>
    </header>
    <!-- //header -->
    <!-- banner -->
    <section class="banner_inner" id="home">
        <div class="banner_inner_overlay">
        </div>
    </section>
    <!-- //banner -->
    <!-- about -->
    <section class="about py-5">
        <div class="container py-lg-5 py-sm-4">
            <div class="row">
                <div class="col-lg-6 about-left">
                    <h3 class="mt-lg-3">Chúng tôi sẽ đưa bạn đến điểm đến hàng đầu trên thế giới, <strong>Khám phá cùng chúng tôi!</strong></h3>
                    <p class="mt-4">
                        Tạo ra các sản phẩm du lịch phong phú, nhân văn cho mọi gia đình Việt với
                    </p>
                    <p class="mt-3">
                        Chuyển tải vẻ đẹp của các danh lam thắng cảnh, nét văn hóa độc đáo và những thành tựu phát triển mọi mặt của nhân loại tới khách hàng;
                        Kết nối, dẫn dắt đem đến cho du khách trải nghiệm thú vị trong từng hành trình đến với những miền đất Việt Nam tươi đẹp và những nền văn minh của các quốc gia trên thế giới.
                    </p>
                </div>
                <div class="col-lg-6 about-right text-lg-right mt-lg-0 mt-5">
                    <img src="/assets/client/images/about.jpg" alt="" class="img-fluid abt-image" />
                </div>
            </div>
            <div class="row mt-5 text-center">
                <div class="col-lg-3 col-6">
                    <div class="counter">
                        <span class="fa fa-smile-o"></span>
                        <div class="timer count-title count-number">1000+</div>
                        <p class="count-text text-uppercase">Khách hàng vui vẻ</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="counter">
                        <span class="fa fa-ship"></span>
                        <div class="timer count-title count-number">2271</div>
                        <p class="count-text text-uppercase">Du lịch và du lịch </p>
                    </div>
                </div>
                <div class="col-lg-3 col-6 mt-lg-0 mt-5">
                    <div class="counter">
                        <span class="fa fa-users"></span>
                        <div class="timer count-title count-number">200</div>
                        <p class="count-text text-uppercase">Điểm đến</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6 mt-lg-0 mt-5">
                    <div class="counter">
                        <span class="fa fa-gift"></span>
                        <div class="timer count-title count-number">20+<span>năm</span></div>
                        <p class="count-text text-uppercase">EXPERIENCE</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->
    <!-- tabs -->
    <section class="choose" id="choose">
        <div class="overlay-all py-5">
            <div class="container py-lg-5 py-sm-4">
                <h2 class="heading text-capitalize text-center mb-lg-5 mb-4"> Tại sao lại chọn chúng tôi</h2>
                <div class="edu-exp-grids">
                    <div class="tab-main">
                        <input id="tab1" type="radio" name="tabs" class="w3pvt-sm" checked>
                        <label for="tab1">Chúng tôi đề nghị</label>
                        <input id="tab2" type="radio" class="w3pvt-sm" name="tabs">
                        <label for="tab2">Chúng tôi cung cấp</label>
                        <section id="content1">
                            <div class="row text-center">
                                <div class="col-lg-4 col-md-6 inner-w3pvt-wrap">
                                    <div class="inner-sec-grid">
                                        <span class="fa fa-gift"></span>
                                        <h4 class="mt-md-4 mt-2">Tour mùa đông</h4>
                                        <p class="mt-3"></p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 inner-w3pvt-wrap">
                                    <div class="inner-sec-grid">
                                        <span class="fa fa-gift"></span>
                                        <h4 class="mt-md-4 mt-2">Chỗ ở</h4>
                                        <p class="mt-3"></p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 inner-w3pvt-wrap">
                                    <div class="inner-sec-grid">
                                        <span class="fa fa-gift"></span>
                                        <h4 class="mt-md-4 mt-2">Giá thấp</h4>
                                        <p class="mt-3"></p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section id="content2">
                            <div class="row text-center">
                                <div class="col-lg-4 col-md-6 inner-w3pvt-wrap">
                                    <div class="inner-sec-grid">
                                        <span class="fa fa-gift"></span>
                                        <h4 class="mt-md-4 mt-2">ít đám đông</h4>
                                        <p class="mt-3"></p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 inner-w3pvt-wrap">
                                    <div class="inner-sec-grid">
                                        <span class="fa fa-gift"></span>
                                        <h4 class="mt-md-4 mt-2">Nhiều kinh nghiệm</h4>
                                        <p class="mt-3"></p>
                                    </div>
                                </div>
                                <div class="col-lg-4 inner-w3pvt-wrap">
                                    <div class="inner-sec-grid">
                                        <span class="fa fa-gift"></span>
                                        <h4 class="mt-md-4 mt-2">Đi thôi</h4>
                                        <p class="mt-3"></p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- tabs -->
    <!-- testimonials -->
    <section class="testimonials py-5" id="testi">
        <div class="container py-lg-5 py-md-3">
            <h3 class="heading text-capitalize text-center mb-lg-5 mb-4">Khách hàng của chúng ta nói gì</h3>
            <div class="row pt-xl-4">
                <div class="col-md-4 test-grid px-lg-4">
                    <div class="testi-info text-center">
                        <p class="text-li">"Nhưng tôi phải giải thích cho bạn cách mà tất cả những nỗi đau bắt nguồn từ ist Byzantium đã được sinh ra như thế nào nhưng, với ý tưởng sai lầm về nó là một niềm vui bất kỳ đảm bảo nào về nỗi đau của một mũi kim đối với dòng chính.</p>
                        <div class="test-img text-center mt-4">
                            <img src="/assets/client/images/Anh_2.jpg" class="img-fluid" alt="user-image">
                        </div>
                        <h3 class="mt-md-4 mt-3">Ngọc Anh</h3>
                    </div>
                </div>
                <div class="col-md-4 test-grid px-lg-4 my-md-0 my-5">
                    <div class="testi-info text-center">
                        <p class="text-li">"Chúng tôi thích cách làm của các bạn</p>
                        <div class="test-img text-center mt-4">
                            <img src="/assets/client/images/beautiful-girl_1.jpg" class="img-fluid" alt="user-image">
                        </div>
                        <h3 class="mt-md-4 mt-3">Thanh Huyền</h3>
                    </div>
                </div>
                <div class="col-md-4 test-grid px-lg-4">
                    <div class="testi-info text-center">
                        <p class="text-li">"Tôi rất hài lòng về dịch vụ mà bên bạn cung cấp .</p>
                        <div class="test-img text-center mt-4">
                       
                            <img src="/assets/client/images/Quang hải.jpg" class="img-fluid" alt="user-image">
                        </div>
                        <h3 class="mt-md-4 mt-3">Quang Hải</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //testimonials -->
    <!--footer -->
    <footer>
        <section class="footer footer_w3layouts_section_1its py-5">
            <div class="container py-lg-4 py-3">
                <div class="row footer-top">
                    <div class="col-lg-3 col-sm-6 footer-grid_section_1its_w3">
                        <div class="footer-title">
                            <h3>Địa chỉ</h3>
                        </div>
                        <div class="footer-text">
                            <p>Location : 54 Triều khúc - Thanh Xuân - Hà Nội</p>
                            <p>Phone : 0355131257</p>
                            <p>Email : <a href="mailto:tust319@gmail.com">tust319@gmail.com</a></p>
                            <p>Fax : 123456888</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 footer-grid_section mt-sm-0 mt-4">
                        <div class="footer-title">
                            <h3>Giới thiệu</h3>
                        </div>
                        <div class="footer-text">
                            <p>
                                Sống chỉ là tuyệt vời, nhưng nhu cầu hố chính phát sinh, tôi đã lớn lên ở khu vực. Không có gì là miễn phí.
                            </p>
                        </div>
                        <ul class="social_section_1info">
                            <li class="mb-2 facebook"><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li class="mb-2 twitter"><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li class="google"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li class="linkedin"><a href="#"><span class="fa fa-linkedin"></span></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4 footer-grid_section_1its_w3">
                        <div class="footer-title">
                            <h3>Địa điểm du lịch</h3>
                        </div>
                        <div class="row">
                            <ul class="col-6 links">
                                <li><a href="#choose" class="scroll">Việt Nam </a></li>
                                <li><a href="#overview" class="scroll">Paris, France </a></li>
                                <li><a href="#pricing" class="scroll">Los Angles</a></li>
                                <li><a href="#faq" class="scroll"> Darlington</a></li>
                                <li><a href="#testimonials" class="scroll">Canada </a></li>
                                <li><a href="#contact" class="scroll"> South Africa </a></li>
                            </ul>
                            <ul class="col-6 links">
                                <li><a href="#">Spain </a></li>
                                <li><a href="#">Turkey </a></li>
                                <li><a href="#faq" class="scroll">Europe </a></li>
                                <li><a href="#">Italy </a></li>
                                <li><a href="#">Sweden </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4 footer-grid_section_1its_w3">
                        <div class="footer-title">
                            <h3>Bản tin</h3>
                        </div>
                        <div class="footer-text">
                            <p>Bằng cách đăng ký vào danh sách gửi thư của chúng tôi, bạn sẽ luôn nhận được tin tức và cập nhật mới nhất từ ​​chúng tôi.</p>
                            <form action="#" method="post">
                                <input type="email" name="Email" placeholder="Enter your email..." required="">
                                <button class="btn1"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                <div class="clearfix"> </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="copyright py-3 text-center">
        <p>© 2020 Tour du lịch. Đã đăng ký Bản quyền | Design by <a href="https://www.facebook.com/anhtu512" target="=_blank"> Anh Tú </a></p>
    </div>
    <!-- //copyright -->
    <!-- move top -->
    <div class="move-top text-right">
        <a href="#home" class="move-top">
            <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
        </a>
    </div>
    <!-- move top -->


</body>
</html>